<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AndroidBaseActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewDemoActivityPro"
            android:exported="false" />
        <activity
            android:name=".GalleryDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ChatDemoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StickyHeaderDemoActivity"
            android:exported="false" />
        <activity
            android:name=".NestedHomeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ConcatAdapterDemoActivity"
            android:exported="false" />
        <activity
            android:name=".TimelineDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FastScrollerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".VideoFeedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".TagFlowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchFilterDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LoopBannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".Vp2OnboardingDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2TabDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2GalleryDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2VerticalFeedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2CardStackDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2WizardDemoActivity"
            android:exported="false" />
        <activity
            android:name=".Vp2BannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".CoroutineDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".TweenAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".PropertyAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FrameAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".InterpolatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LayoutAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPropertyAnimatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".TransitionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SharedElementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SharedElementDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTransitionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTransitionTargetActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicsAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".VectorAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".CanvasAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".AndroidFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentLifecycleDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentTransactionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentArgsDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentResultDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentSharedVmDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentNestedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentDialogDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentBottomSheetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentSaveStateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentContainerDemoActivity"
            android:exported="false" />
    </application>

</manifest>
