<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo.recyclerview.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".common.AndroidBaseActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.AndroidRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.RecyclerViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.RecyclerViewDemoActivityPro"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.GalleryDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.chat.ChatDemoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".demo.recyclerview.StickyHeaderDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.NestedHomeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.ConcatAdapterDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.TimelineDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.FastScrollerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.VideoFeedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.TagFlowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.SearchFilterDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.recyclerview.LoopBannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.AndroidViewPager2Activity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2OnboardingDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2TabDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2GalleryDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2VerticalFeedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2CardStackDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2WizardDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.viewpager.Vp2BannerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.layout.AndroidLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".demo.concurrent.CoroutineDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.network.AndroidNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.AndroidAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.TweenAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.PropertyAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.FrameAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.InterpolatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.LayoutAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.ViewPropertyAnimatorDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.TransitionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.SharedElementDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.SharedElementDetailActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.ActivityTransitionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.ActivityTransitionTargetActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.PhysicsAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.VectorAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.animation.CanvasAnimationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.AndroidFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentLifecycleDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentTransactionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentArgsDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentResultDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentSharedVmDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentNestedDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentDialogDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentBottomSheetDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentSaveStateDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.fragment.FragmentContainerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.storage.AndroidStorageActivity"
            android:exported="false" />
        <activity
            android:name=".demo.storage.SpDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.storage.DataStoreDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.storage.SqliteDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.storage.FileIoDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.AndroidJetpackActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.ViewModelLiveDataDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.FlowDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.NavigationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.WorkManagerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.jetpack.LifecycleDemoActivity"
            android:exported="false" />

        <activity
            android:name=".demo.system.AndroidSystemActivity"
            android:exported="false" />
        <activity
            android:name=".demo.system.PermissionDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.system.NotificationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.system.ServiceDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.system.BroadcastDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.system.HandlerDemoActivity"
            android:exported="false" />

        <activity
            android:name=".demo.study.AndroidStudyActivity"
            android:exported="false" />
        <service
            android:name=".demo.study.FloatingBallService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="floating_ball_overlay" />
        </service>

        <service
            android:name=".demo.system.DemoStartedService"
            android:exported="false" />
        <service
            android:name=".demo.system.DemoBoundService"
            android:exported="false" />

        <activity
            android:name=".demo.graphics.AndroidGraphicsActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.CanvasBasicDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.PathDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.PorterDuffDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.ShaderDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.ZoomImageDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.graphics.SurfaceViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.AndroidCustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.CircleProgressDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.FlowLayoutDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.FloatingBallDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.PullToRefreshDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.ClearableEditTextDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.RippleClickDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.StarRatingDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.RulerDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.DashboardDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.WaveDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.customview.StickyDropDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.media.AndroidMediaActivity"
            android:exported="false" />
        <activity
            android:name=".demo.media.TtsReaderDemoActivity"
            android:exported="false" />
        <activity
            android:name=".demo.media.LrcPlayerDemoActivity"
            android:exported="false" />
        <service
            android:name=".demo.system.DemoForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
